.table {
    .cell-header,
    .cell-data {
        display: inline-block;
    }
    .action-header,
    .action-data {
        display: inline-block;
        white-space: nowrap;
        padding:1px 6px;
    }
    tr {
        td {
            &:last-child {
                width: 5%;
            }
        }
    }
}
