@import "./sub/menu.scss";
@import "./sub//table.scss";
body,
html {
    margin: 0;
    padding: 0;
}
.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    .main-sidebar {
        transition: width 0.3s ease-in-out;
        flex: none;
        width: 250px;
        height: inherit;
        min-height: 100%;
        background-color: #241e6f;
        color: #fff;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
        a {
            color: rgb(222, 219, 219);
        }
        .main-brand,
        .main-brand-mini {
            min-height: 45px;
            padding: 0.2rem 0 0.2rem 0.5rem;
            font-size: 24px;
            border-bottom: 1px solid #dee2e6;
            white-space: nowrap;
            transition: display 0.3s ease-in-out;
        }
        .main-brand-mini {
            display: none;
        }
        .menu {
            .menu-item {
                a {
                    padding: 0.3rem 0 0.3rem 0.5rem;
                    &:hover {
                        background: #110e37;
                    }
                }
                &.active > a[href] {
                    background: #110e37;
                }
                .menu-sub {
                    margin-left: 10px;
                }
            }
        }
    }
    .main-wrapper {
        flex: auto;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        .main-header {
            flex: none;
            min-height: 45px;
            background-color: #fff;
            color: #1f2d3d;
            border-bottom: 1px solid #dee2e6;
            z-index: 1034;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            display: flex;
            .header-left {
                flex: none;
            }
            .header-center {
                flex: auto;
            }
            .header-right {
                flex: none;
            }
        }
        .main-content {
            padding: 0;
            background-color: #f4f6f9;
            flex: auto;
            overflow: auto;
            position: relative;
        }
        .main-footer {
            display: none;
            flex: none;
            min-height: 35px;
            background-color: #fff;
            color: #1f2d3d;
        }
    }
}
.sidebar-mini-btn {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    &:hover {
        background-color: #dee2e6;
    }
}
body.sidebar-mini {
    .main-sidebar:not(:hover) {
        width: 50px;
        .menu {
            .menu-item {
                a {
                    padding: 0.2rem;
                }
                span {
                    display: none;
                }
                text-align: center;
                .menu-sub {
                    display: none;
                }
            }
        }
        .main-brand {
            display: none;
        }
        .main-brand-mini {
            display: block;
            font-weight: 600;
            padding: 0.2rem;
        }
    }
}
.page-wrapper {
    padding: 8px;
    min-height: 100%;
    clear: both;
    .page-content {
        background: #fff;
        min-height: 500px;
        padding: 5px;
        border-radius: 3px;
    }
}
.page-setting {
    .page-content {
        padding-bottom: 10px;
    }
    .form-setting {
        display: none;
    }
    .active {
        display: block;
    }
}
.menu-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .menu-item {
        &:hover {
            background-color: #ccc;
        }
        padding: 5px;
        &.active > .menu-sub {
            display: block;
            position: absolute;
            background: #fff;
            border: #363176 1px solid;
            border-radius: 2px;
            padding: 3px;
        }
    }
}
